<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Prognosis: Indian Election</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PKNP883');</script>
    <!-- End Google Tag Manager -->

    <meta property="og:title" content="Prognosis: Indian Election" />
    <meta property="og:description" content="What is the state of developer skills today? How can developers best keep their skills current?
    What are the most in-demand skills? Find out in the Referendum Prognosis’s 2018 Developer Skills Report. Insights are based on more than 39,000 developers." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://research.Referendum Prognosis.com/developer-skills/2018/" />
    <meta property="og:image" content="https://research.Referendum Prognosis.com/developer-skills/2018/style/share-image2.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Referendum Prognosis">
    <meta name="twitter:creator" content="@Referendum Prognosis">
    <meta name="twitter:title" content="Prognosis: Indian Election">
    <meta name="twitter:description" content="What is the state of developer skills today? How can developers best keep their skills current? What are the most in-demand skills?
    Find out in the Referendum Prognosis’s 2018 Developer Skills Report. Insights are based on more than 39,000 developers.">
    <meta name="twitter:image" content="https://research.Referendum Prognosis.com/developer-skills/2018/style/share-image-twitter-2.jpg">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Source+Code+Pro:300,600   subset=latin-ext" rel="stylesheet">
    <link href="static/style/dev-skills-2.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="static/style//Referendum Prognosis-favicon.png">
    <script src="static/style/jquery-1.11.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKNP883"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="fxd">
        <ul class="pagination">
            <li><a href="#contents" class="scroll selected" title="Scroll to the start of the report"><span>Contents</span></a></li>
            <li><a href="#insight1" class="scroll" title="#"><span>       </span></a></li>
            <li><a href="#insight2" class="scroll" title="#"><span>Nature of Tweet</span></a></li>
            <li><a href="#insight3" class="scroll" title="#"><span>Public Tweet Analysis</span></a></li>
            <li><a href="#insight4" class="scroll" title="#"><span>Candidates Tweet Analysis</span></a></li>
            <li><a href="#insight5" class="scroll" title="#"><span>Speech Analysis</span></a></li>
            <li><a href="#insight6" class="scroll" title="2"><span>More Results</span></a></li>
            <li><a href="#insight7" class="scroll" title="3"><span>Prediction</span></a></li>


        </ul>
        <a class="logo" href="https://www.Referendum Prognosis.com/" title="Visit Referendum Prognosis.com">
            <h4>Referendum Prognosis</h4>
        </a>
    </div>

    <div class="section" id="home">
        <a class="logo" href="https://www.Referendum Prognosis.com/" title="Visit Referendum Prognosis.com"><span>ReferendumPrognosis</span></a>
        <h1><em></em>Prognosis: Indian Election</h1>
        <ul>
            <li>

            </li>
        </ul>
    </div>

    <div class="section" id="fractal"></div>

    <div class="sub section" id="prologue">
        <a class="logo" href="https://www.Referendum Prognosis.com/">
            <h4>Referendum Prognosis</h4>
        </a>
        <div class="half">
            <h4>Prologue</h4>
            <h2>Real Time Opinion Analysis</h2>
            <h5>
              In recent years, social media streams have represented vast amounts of
insightful information that can be used by organisations and users to understand
trends and users’ perceptions and help in making informed decisions. There is an increasing research and
development trend toward
developing algorithms and tools to analyse such data and support organisations and users alike in
developing and delivering better services to customers or use the information to themselves. In this
research-in-progress report, we have proposed a model for analyzing Twitter data. An
initial prototype was developed as a web-based application that allows users
to search for specific terms on Twitter; the retrieved results are presented and
visualised using the forms of a) a interactive web pages, using
different JS and CSS, and b) bar graphs. This initial prototype will represent the core engine of our project
and sentiment social media analysis.<br><br>
</h5>
        </div>
    </div>

    <div class="sub section" id="contents">
        <div class="full">
          <h2>Table of Contents</h2>
          <ul>
              <li><em>01</em> <a href="#prologue" class="scroll" title="#">Prologue</a></li>
              <li><em>02</em> <a href="#" class="scroll" title="#">Followers Section</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Modi's Follower Analysis</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Rahul Gandhi's Follower Analysis</a></li>
              <li><em>03</em> <a href="#" class="scroll" title="#">Nature of Public Tweet</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Nature of Public Tweet having candidates as Subject</a></li>
              <li><em>04</em> <a href="#" class="scroll" title="#">Candidate's Nature of Tweet</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Modi's Tweeter Handler Analysis</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Rahul Gandhi's Tweeter Handler Analysis</a></li>
              <li><em>05</em> <a href="#" class="scroll" title="#">Word By Word Analysis</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Word Analysis of Modi</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Word Analysis of Rahul</a></li>
              <li><em>06</em> <a href="#" class="scroll" title="#">Opposition Play</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">Opposition Mentione by Candidate 1s</a></li>
              <li class="sub"><a href="#" class="scroll" title="#">By Candidate 2</a></li>
              <li><em>07</em> <a href="#" class="scroll" title="#">Average View Count</a></li>
              <li><em>08</em> <a href="#" class="scroll" title="#">favorite View Count</a></li>
              <li><em>09</em> <a href="#" class="scroll" title="#">Trending Hashtags</a></li>
              <li><em>10</em> <a href="#" class="scroll" title="#">Trending Hashtags Praise, Scold , talk about in gen</a></li>
              <li><em>11</em> <a href="#" class="scroll" title="#">Retweet VS favorite</a></li>
              <li><em>12</em> <a href="#" class="scroll" title="#">Predictive Resultss</a></li>
          </ul>
        </div>
    </div>

    <div class="sub section" id="insight1">
        <div class="half">
            <h4>Top Followers</h4>
            <h2>Let's find some insights about top tweeters of Top Indian Political Leaders</h2>
            <p><h5>Following are some Interactive Graphs Showing Insights about the top followers...</h5><br>
            </p>
        </div>
        <div class="half second">
            <h3></h3>

        </div>
        <div class="half" id="insight1b">
            <h4>       </h4>
            <h2>Insights of Top Followers of Prominent Politicians</h2>
            <p><h5>Indian Political Leaders are no less than World class celebrity nowdays, This insight tell us top twitter followers of current iteration of
            our data mined so far.<br>This particular graph tells us the top 5 recent tweeters of Narendra Modi. Following is the polarity indicator of these tweeters, let's dive in deeper...</h5></p>
        </div>
        <div class="half second">
            <h3>Top 5 Twitterati's of Narendra Modi</h3>
            <div> <iframe src="static/style/00.html" height="500" width="700"></iframe></div>

        </div>

        <div class="half" id="insight1c">
            <h4>       </h4>
            <h2>Rahul Gandhi's Top Followers of Current Iteration</h2>
            <p>
              <h5>This insight tell us top twitter followers of current iteration of
               top 5 recent tweeters of Rahul Gandhi. Did you find something Interesting? Following is the polarity indicator of these tweeters, let's dive in deeper...</h5>

            </p>
        </div>
        <div class="half second">
            <h3>Top 5 Twitterati's of Rahul Gandhi</h3>
            <div> <iframe src="static/style/01.html" height="500" width="700"></iframe></div>
            <p style="text-align:right"></p>
        </div>
    </div>
<!----           nature of public towards idol ---->
<div class="sub section" id="insight1">
    <div class="half">
        <h3>Nature of Tweet</h3>
        <h2>Following are the insights about the nature of the tweet having candidates as subject</h2>
        <p><br>
        </p>
    </div>
    <div class="half second">
        <h3></h3>

    </div>
    <div class="half" id="insight1b">
        <h4>       </h4>
        <h2>Graph depicting public tweets's nature of Narendra Modi</h2>
        <p>This graph comprises of Two Legends. One is Positive Polarity, the other is Negative Polarity of top twitter followers of Narendra Modi.<br> Do you find someone Who is fervent Devotee of NaMo or Simply a Hater? Or maybe a mix of both?
        </p>
    </div>
    <div class="half second">
        <h3>Narendra Modi focused</h3>
        <div> <img src="static/style/10.png" height="550" width="600"></img></div>

    </div>

    <div class="half" id="insight1c">
        <h4>       </h4>
        <h2>Graph depicting public tweets's nature of Narendra Modi</h2>
        <p>Do you Notice someone who only tweets Positive and Negative about Rahul Gandhi? Or is it Balanced right now? User's Devotion is very unstable nowdays :)<br>
        </p>
    </div>
    <div class="half second">
        <h3>Rahul Gandhi focused</h3>
        <div> <img src="static/style/11.png" height="500" width="600"></img></div>

    </div>

</div>

<!----      nature of indi speech  --->
<!---       nature of candidate speech -->
    <div class="sub section" id="insight2">
        <div class="full">
            <h4>Nature of Politician's Tweets</h4>
            <h2>Nature of the Tweets from the Our Leaders can reveal  their mindset</h2>
            <p>Following Graph Compares Polarity of Tweets of Rahul Gandhi and Narendra Modi</p>
            <h3>&nbsp;Polarity Graph of their Tweets</h3>
            <div ><iframe src="static/style/cc.html" height="600" width="1220"></iframe></div>

        </div>

        <h3>Did you find any difference between who speaks Productive and who Critices? Or Better, A Mix of both...</h3>
    </div>
<!--        nature of candidate speech -->

    <div class="sub section" id="insight1">
        <div class="half">
            <h4>Most Frequent Words in Candidate's Tweets</h4>
            <h2>Let's  dive into Tweet analysis of Each Leader. Which word do they frequently use? This can reveal their inclination... Is it Growth of Nation or just Winning The Election</h2>
            <p><br>
            </p>
        </div>
        <div class="half second">
            <h3></h3>

        </div>
        <div class="half" id="insight1b">
            <h4>       </h4>
            <h2>This tells us most frequently used words in tweet by Narendra Modi. This Graph Changes as time passes, What did you find out from this?</h2>
            <p><br>
            </p>
        </div>
        <div class="half second">
            <h3>Most Frequent Words Used by Narendra Modi</h3>
            <div> <iframe src="static/style/aa.html" height="500" width="650"></iframe></div>

        </div>

        <div class="half" id="insight1c">
            <h4>       </h4>
            <h2>Most Frequent Word Used by Rahul Gandhi. What did you find out from this?</h2>
            <p><br>
            </p>
        </div>
        <div class="half second">
            <h3>Frequent words used by INC Leader</h3>
            <div> <iframe src="static/style/ab.html" height="500" width="700"></iframe></div>

        </div>

    </div>

<!--bb.html -->

<div class="sub section" id="insight2">
    <div class="full">
        <h4>Number of times opposition mentioned</h4>
        <h2>Opposition Mentioned</h2>
        <p>As we all know, A true Leader's Main Focus is Always Growth of his nation. Below you can see the comparision of how many times a leader has Criticised or mocked opposition keader or opposition party...</p>
        <h3></h3>
        <div ><iframe src="static/style/bb.html" height="600" width="1220"></iframe></div>

    </div>

    <h3> Well this can reveal a bit about the proclivity of our Leader... Its time to dive deeper to find out WHO Public likes the most...</h3>
</div>

<!-- dd.html   --->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Average favorite Likes Count</h4>
        <h2>Average favorite Likes our Leader gets on Social Media</h2>
        <p></p>
        <h3>Who public responds the most on Social Media</h3>
        <div ><iframe src="static/style/dd.html" height="600" width="1220"></iframe></div>

    </div>

    <h3>This can tell us who public follows the most, But sometimes the election results are contradictory. Time to dive deeper to find more insights on what public thinks about their favorite Leader... </h3>
</div>

<!--   21  -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Public Polarity</h4>
        <h2>Polarity of Rahul Gandhi Followers</h2>
        <p></p>
        <h3>Following Graph shows How public concedes or critices opinion of Rahul</h3>
        <div ><iframe src="static/style/21.html" height="600" width="1220"></iframe></div>

    </div>
</div>


<!--    20 -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Public Polarity</h4>
        <h2>Polarity of Modi Followers</h2>

        <h3>Following Graph shows How public concedes or critices opinion of Modi</h3>
        <div ><iframe src="static/style/20.html" height="600" width="1220"></iframe></div>

    </div>

    <h3> So can it be concluded who is public's favorite leader? We can still gain more insight before we come to the decision...</h3>
</div>

<!-- 30   -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Famous hashtags</h4>
        <h2># used by fans about modi</h2>

        <h3>Trending # for Modi</h3>
        <div ><iframe src="static/style/30.html" height="600" width="1220"></iframe></div>

    </div>

    <h3>  But What is trending When public Praises or Slanders their leaders? Lets find out..</h3>
</div>
<!--     40  -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Trending hashtags</h4>
        <h2>Trending Hashtags for BJP</h2>
        <p></p>
        <h3>Trending # whenpublic praises NaMO </h3>
        <div ><iframe src="static/style/40.html" height="600" width="1220"></iframe></div>

    </div>

    <h3></h3>
</div>
<!-- 50  -->
<div class="sub section" id="insight2">
    <div class="full">
      <h4>Trending hashtags</h4>
      <h2>Trending Hashtags for BJP</h2>
      <p></p>
      <h3>Trending # whenpublic criticize NaMO </h3>

        <div ><iframe src="static/style/50.html" height="600" width="1220"></iframe></div>

    </div>
</div>
<!--31  -->
<div class="sub section" id="insight2">
    <div class="full">
      <h4>Famous hashtags</h4>
      <h2># used by fans about Rahul</h2>

      <h3>Trending # for Rahul</h3>
        <div ><iframe src="static/style/31.html" height="600" width="1220"></iframe></div>

    </div>

    <h3></h3>
</div>
<!--41  --->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Trending hashtags</h4>
        <h2>used by users praise rahul</h2>

          <h3>Trending # whenpublic praises Rahul </h3>
        <div ><iframe src="static/style/41.html" height="600" width="1220"></iframe></div>

    </div>

</div>
<!--  41 -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Trending hashtags</h4>
        <h2>used by users criticise rahul</h2>
        <h3>Polarity Graph of favorite View Count</h3>
        <div ><iframe src="static/style/50.html" height="600" width="1220"></iframe></div>

    </div>

    <h3>  </h3>
</div>
<!-- modimodi  -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Which side of Politician does public Admires?</h4>
        <h2>Modi</h2>
        <p>Modi.</p>
        <h3>Polarity Graph of favorite View Count</h3>
        <div ><img src="static/style/namonamo.png" height="600" width="900"></img></div>

    </div>

    <h3></h3>
</div>
<!--         rahulrahul              -->
<div class="sub section" id="insight2">
    <div class="full">
        <h4>all about rahul's Following</h4>
        <h2>Rahul</h2>

        <h3>Polarity Graph of favorite View Count</h3>
        <div ><img src="static/style/rahulrahul.png" height="600" width="900"></img></div>
 </div>
</div>
<div class="sub section" id="insight2">
    <div class="full">
        <h4>Predictive Result</h4>
        <h2>Based on our analysis, Who is likely to win this time</h2>
        <h3>Based on our analysis, Who is likely to win this time </h3>
        <div ><iframe src="static/style/top.html" height="500" width="900"></iframe></div>
 </div>
</div>
</body>
</html>
